<% if user_signed_in? %>
  <div class="container">
    <h1>Recipes</h1>
    <br/>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <%# recipes.each do |recipe| %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card border-primary">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text"><%= markdown(recipe.instructions.truncate_words(20)) %></p>
              <%= link_to 'Show', recipe, class: "btn btn-outline-primary" %>
            </div>
          </div>
          <br/>
        </div>
      <% end %>
    </div>
    <%# end %>
  </div>

  <br>

  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-secondary" %>

<% else %>

  <h1>Hello anonymous user!</h1>

<% end %>